:root {
    --ilw-tabs--display: flex;
    --ilw-tabs--tablist-display: flex;
    --ilw-tabs--tablist-width: 350px;
  }

ilw-tabs {
    display: block;
    position: relative;
    container-type: inline-size;
}

ilw-tabs *[slot=tabs] {
  display: var(--ilw-tabs--tablist-display);
  width: var(--ilw-tabs--tablist-width);
  flex-direction: column;
}

ilw-tabs *[role=tab] {
    display: inline-block;
    background: var(--ilw-color--control);
    color: var(--ilw-color--control-text);
    font-family: var(--il-font-sans);
    font-size: 1.1875rem;
    font-weight: 700;
    border: none;
    padding: .75em 1em;
    border-bottom: 2px solid var(--ilw-color--control-text);
    text-align: left;
}

ilw-tabs *[role=tab]:first-of-type {
  border-top: 2px solid var(--ilw-color--control-text);
}

ilw-tabs *[role=tab]:hover {
  outline: none;
  color: var(--ilw-color--control);
  background: var(--ilw-color--control-text);
}

ilw-tabs *[role=tab]:focus {
  background-color: var(--ilw-link--focus-background-color);
  color: var(--ilw-link--focus-color);
  outline: var(--ilw-link--focus-outline);
}

ilw-tabs *[role=tab][aria-selected="true"] {
  color: var(--ilw-color--control-accent-text);
  background: var(--ilw-color--control-accent);
}

ilw-tabs *[data-ilw-tab-visible="0"] {
    display: none;
}

  ilw-tabs[horizontal] {
    --ilw-tabs--display: block;
    --ilw-tabs--tablist-display: block;
    --ilw-tabs--tablist-width: auto;
    }

  ilw-tabs[horizontal] *[slot=tabs] {
    border-bottom: 2px solid var(--ilw-color--control-text);
    }

  ilw-tabs[horizontal] *[role=tab] {
    border: none;
  }

  @container (max-width: 800px) {
    ilw-tabs *[role=tab] {
      display: var(--ilw-tabs--tablist-display);
      width: var(--ilw-tabs--tablist-width);
      border-bottom: 2px solid var(--ilw-color--control-text);
    }
    ilw-tabs[horizontal] *[role=tab] {
      display: var(--ilw-tabs--tablist-display);
      width: var(--ilw-tabs--tablist-width);
      border-bottom: 2px solid var(--ilw-color--control-text);
    }

    ilw-tabs *[role=tab]:first-of-type {
      border-top: 2px solid var(--ilw-color--control-text);
    }
  }

  ilw-tabs.ilw-compact *[role=tab] {
    display: flex;
    border-bottom: 2px solid var(--ilw-color--control-text);
  }

  ilw-tabs.ilw-compact *[role=tab]:first-of-type {
    border-top: 2px solid var(--ilw-color--control-text);
  }

  ilw-tabs h2, ilw-tabs h3, ilw-tabs h4, ilw-tabs h5 {
    margin-top: 0;
    padding-top: 0;
  } 

  ilw-tabs h2, ilw-tabs h3, ilw-tabs h4, ilw-tabs h5, ilw-tabs p {
    color: var(--ilw-color--text);
  } 

  ilw-tabs a {
    color: unset;
  } 